<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /

  # 1. Jika file atau folder fisik memang ada, langsung buka apa adanya
  RewriteCond %{REQUEST_FILENAME} -f [OR]
  RewriteCond %{REQUEST_FILENAME} -d
  RewriteRule ^ - [L]

  # 2. Jika bukan folder admin, arahkan semua rute SPA ke index.html
  RewriteCond %{REQUEST_URI} !/admin [NC]
  RewriteRule . /index.html [L]
</IfModule>
